body {
  background-color: #222;
  color: #ccc;
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #111;
  color: #f22;
  padding: 0.5em 1em;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

p {
  margin: 0;
}

#searchbar,
#livesearch {
  background-color: #111;
  color: #aaa;
  border: 1px solid black;
  width: 180px;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 1.1em;
}

#searchbar {

}

#livesearch {
  padding: 0.5em 0;
}

#livesearch:empty {
  display: none;
}

.result {
  padding: 0.1em 0.5em;
  cursor: pointer;
}

.result.selected,
.result:hover {
  background-color: #333;
}
